<section class="heading-section">
    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn dropdown-toggle text-light fw-bold" type="button" data-bs-toggle="dropdown"
                aria-expanded="true">
                <i class="material-icons text-light">person</i>
                heldersantiago
            </button>
            <ul class="dropdown-menu bg-primary p-2">
                <li><a style=" text-decoration: none;" class="drop-i text-light fw-bold p-2"
                        href="/">heldersantiago273&#64;gmail.com</a></li>
                <li><a href="/login" class="drop-i text-light fw-bold p-2" style="text-decoration: none;">Terminar
                        sessão<i class="material-icons text-light p-1 fw-bold">logout</i></a></li>
            </ul>
        </div>
    </div>
    <h1 class="title text-center">{{title}}</h1>
</section>