.heading-section {
    // background: radial-gradient(circle, rgb(13, 71, 156) 0%, rgb(108, 215, 236) 100%);
    background: linear-gradient(to right, rgb(13, 71, 156), rgb(108, 215, 236));
    padding: 100px;

    h1.title {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 2px rgb(black, 0.2);
    }
}

.container {
    max-width: 600px;
}

.add-todo-box {
    width: 800px;
    padding: 25px;
    background: white;
    border-radius: 4px;
    margin-left: -70px;
    margin-top: -30px;
    box-shadow: 0px 4px 12px rgba(black, 0.08);
}


.todo-item {
    display: grid;
    align-items: center;
    font-size: 18px;
    position: relative;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgb(black, 0.08);
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    border-radius: 0 0 10px 10px;

    &.completed {
        color: #aaa;
    }
}

.todo-item .box {
    display: flex;
}

.todo-item .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    color: white;
    border-radius: 50%;
    height: 28px;
    width: 28;
    margin-right: 20px;

    //
    // background: green;

    i.material-icons {
        font-size: 20px;
        margin: auto;
        color: #6b6464;
        //hide by default
        opacity: 0;

        transition: opacity 0.8s;
    }
}

.todo-item:hover .check-box {
    background-color: #eee;

    i.material-icons {
        opacity: 100;
    }
}

.todo-item.completed .check-box {
    background: rgb(11, 223, 170);

    i.material-icons {
        opacity: 1;
    }
}

.todo-item .todo-controls-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    opacity: 0;
    display: flex;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.todo-item:hover .todo-controls-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.todo-controls-box .control-button {
    padding: 3px 13px;

    i.material-icons {
        font-size: 20px;
    }

    &:first-of-type {
        // background: green;
        border-top-left-radius: 7px;
    }

    &:last-of-type {
        // background: red;
        border-top-right-radius: 7px;
    }
}


.dropdown .dropdown-menu .drop-i {

    transition: color 0.3s ease;

    &:hover {
        color: #ccc !important;
        // background: white;
    }
}