<app-header [title]="title"></app-header>

<section class="shadow-sm p-3 container rounded">
    <form>
        <div class="form-group w-100 mb-3">
            <label for="exampleInputEmail1">Nome</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group w-100 mb-3">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <div class="form-group form-check mb-3">
                <a class="nav-link" href="/login">Já possui uma conta?</a>
            </div>
            <button type="submit" class="btn btn-dark float-end">LOG IN</button>
        </div>
    </form>
</section>